.section-contact{
    padding: 50px 0px;
    text-align: center;
    background-color: $jelly-bean;
}

.section-contact__h2{
    text-align: center;
    color: white;
    font-size: $large;
}

.section-contact__buttons{
    padding: 10px 30px;
   background-color: white;
  border-radius: 28px;
  font-size: 26px;

}